<!-- footer -->
<footer>

  <div class="container">
    <p class="center-block text-center rejoin">Rejoignez-nous sur</p>

    <ul class="list-inline center-block text-center footerSocials">
      <li><a href="#"> <img src="../../assets/dist/img/icfb.png" alt=""> </a></li>
      <li><a href="#"> <img src="../../assets/dist/img/icogm.png" alt=""> </a></li>
      <li><a href="#"> <img src="../../assets/dist/img/icotwiter.png" alt=""> </a></li>
      <li><a href="#"> <img src="../../assets/dist/img/icopLin.png" alt=""> </a></li>
      <li><a href="#"> <img src="../../assets/dist/img/icoprin.png" alt=""> </a></li>
      <li><a href="#"> <img src="../../assets/dist/img/icoYou.png" alt=""> </a></li>
      <li><a href="#"> <img src="../../assets/dist/img/icoy.png" alt=""> </a></li>
    </ul>


    <ul class="list-inline center-block text-center footerLinks">
      <li><a href="#"> Qui somme nous </a></li>
      <li> -</li>
      <li><a href="#"> Contactez­-nous </a></li>
      <li> -</li>
      <li><a href="#"> Plan du site </a></li>
    </ul>


  </div>

  <div class="subFooter">
    Copyright © 2016 trois-fourchettes.com.all rights reserved.
  </div>

</footer>


<div id="topcontrol" class="glyphicon glyphicon-chevron-up" title="top">
</div>
