<div class="col-md-3 menu-right">


  <h3 class="menu-right-heading"><img src="../../assets/dist/img/proximite.png" alt=""> Hotels a proximité de vous </h3>


  <div class="container-menu">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="../../assets/dist/img/avatar-medium.jpg" class="media-object" alt="Sample Image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mme Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... ..incididunt </p>
      </div>
    </div> <!-- end media -->


    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="../../assets/dist/img/avatar-medium1.jpg" class="media-object" alt="Sample Image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Lilia Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
    </div> <!-- end media -->


    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="../../assets/dist/img/avatar-medium1.jpg" class="media-object" alt="Sample Image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sara Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
    </div> <!-- end media -->

  </div> <!-- container-menu -->


  <h3 class="menu-right-heading"><img src="../../assets/dist/img/proximite.png" alt=""> Restaurants a proximité de vous </h3>


  <div class="container-menu">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="../../assets/dist/img/avatar-medium.jpg" class="media-object" alt="Sample Image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mme Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... ..incididunt </p>
      </div>
    </div> <!-- end media -->


    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="../../assets/dist/img/avatar-medium1.jpg" class="media-object" alt="Sample Image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Lilia Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
    </div> <!-- end media -->


    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="../../assets/dist/img/avatar-medium1.jpg" class="media-object" alt="Sample Image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Sara Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
    </div> <!-- end media -->

  </div> <!-- container-menu -->


</div>
